@model IEnumerable<Formula1.Models.PontuacaoEquipeTemporada>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Equipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temporada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pontos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Equipe.Nome_equipe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temporada.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pontos)
            </td>
        </tr>
}
    </tbody>
</table>
